<h2>List of Pages</h2>
<table class="page-list" *ngIf="pages && pages.length">
  <tr>
    <th>Page URL</th>
    <th class="delete-col">Delete</th>
  </tr>
  <tr *ngFor="let page of pages">
    <td>
      <a href="#" (click)="onSelect(page); false">{{page.name}}</a>
    </td>
    <td class="delete-col">
      <button class="delete" (click)="delete(page); false">x</button>
    </td>
  </tr>
</table>
<p>{{messageList}}</p>
<p><button (click)="goToCreate()">Create</button></p>
<div *ngIf="selectedPage">
  <h2>{{selectedPage.name}}</h2>
  <p>Page name:</p>
  <p class="input"><input type="text" [(ngModel)]="selectedPage.name"></p>
  <p>Page to look like:</p>
  <p class="input"><input type="text" [(ngModel)]="selectedPage.pretend"></p>
  <p>Page to redirect to:</p>
  <p class="input"><input type="text" [(ngModel)]="selectedPage.redirect"></p>
  <p><button (click)="save()">Save</button></p>
</div>
<p>{{messageEdit}}</p>
