<div *ngIf="page">
  <h2>{{page.name}}</h2>
  <p>Page name:</p>
  <p class="input"><input type="text" [(ngModel)]="page.name"></p>
  <p>Page to look like:</p>
  <p class="input"><input type="text" [(ngModel)]="page.pretend"></p>
  <p>Page to redirect to:</p>
  <p class="input"><input type="text" [(ngModel)]="page.redirect"></p>
</div>
<p>
  <span *ngIf="page && token">
    <button (click)="save()">Save</button>
    <button (click)="delete()">Delete</button>
  </span>
  <button (click)="goToCreate()">Create New</button>
</p>
<p>{{message}}</p>
